# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Pytest
.cache/
*.cover
*.log
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db