# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# VS Code
.vscode/

# Pytest
.cache/
*.cover
*.log
*.egg-info/
dist/
build/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
